/* *{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-template-areas:
    "h h"
    "a m"
    "f f"
}
header{
    background-color: rgb(29, 173, 29);
    color:white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header ul{
    display: flex;
    list-style: none;
}
header ul li{
    margin: 0 10px;
    font-weight: bold;
}
header h1 {
    font-size: 25px;
}
aside{
    padding: 15px;
}
aside ul{
    list-style: none;
}
aside{
    grid-area: a;
    background-color: rgb(197, 8, 8);
    padding: 10px;
}
main{
    grid-area: m;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
main div{
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: rgb(23, 99, 39);
    color: white;
    border-radius: 10px;
    text-align: center;

}
footer{
    grid-area: f;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
} */

/* *{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    display: grid;
    grid-template-areas: 
    'h h'
    's m'
    'f f'
    
    ;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh; 
}
header{
    grid-area: h;
    background-color: rgb(29, 173, 29);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    list-style: none;
    display: flex;
}
header li{
    margin: 0 10px;
    font-weight: bold;
}
header h1{
    font-size: 25px;
}
aside{
    grid-area: s;
    padding: 15px;
    background-color: aquamarine;
}
aside ul{
    list-style: none;
}
main{
    grid-area: m;
    padding: 15px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}
.item{
    background-color: rgb(29, 173, 29);
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}
 footer{
    grid-area: f;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    } */

    *{
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #container{
        display: grid;
        grid-template-areas: 
        'h h'
        's m'
        'f f'
        ;
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
    }
    
    header{
        grid-area: h;
        background-color: rgb(29, 173, 29);
        color: white;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    
    header ul{
        list-style: none;
        display: flex;
    }
    
    header li{
        margin: 0 10px;
        font-weight: bold;
    }
    header h1{
        font-size: 25px;
    }
    
    aside{
        grid-area: s;
        padding: 15px;
        background-color: aliceblue;
    }
    
    aside ul{
        list-style: none;
    }
    main{
        grid-area: m;
        padding: 15px;
    }
    
    #grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
    }
    
    .item{
        background-color: rgb(29, 173, 29);
        color: white;
        padding: 15px;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
    }
    footer{
        grid-area: f;
        background-color: rgb(19, 19, 19);
        color: white;
        padding: 15px;
        text-align: center;
    }
    
    @media (max-width: 768px){
        #container{
            grid-template-areas: 
            'h'
            'm'
            's'
            'f'
            ;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr 1fr auto;
        }
    }
